/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  /*========== Font and typography ==========*/
  --body-font: "Montserrat Alternates", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  background: linear-gradient(135deg, rgba(173, 216, 230, 0.8), rgba(230, 230, 250, 0.8));
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--white-color);
  font-weight: var(--font-medium);
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.nav__close, 
.nav__toggle {
  display: flex;
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
}

.nav__list, 
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  transition: width .4s ease-out;
}

/* Animation link on hover */
.nav__link:hover span {
  margin-left: 2.5rem;
}

.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .4;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
}

.nav__social-link {
  color: var(--white-color);
  font-size: 1.5rem;
  transition: transform .4s;
}

.nav__social-link:hover {
  transform: translateY(-.25rem);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle
  {
    display: none;
  }
  .nav__close{
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
    position: static; /* Ensure the menu is not fixed */
    height: auto; /* Ensure the height is not fixed */
    flex-direction: row; /* Ensure flex direction is row */
    justify-content: flex-end; /* Align items to the right */
  }

  .nav__item {
    transform: none;
    visibility: visible;
  }
}

.text1 {
  margin-top: 10%;
  margin-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 50px;
  font-weight: 500;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E6D6A0;
  height: 500px;
  width: 500px;
  margin-top: 5%;
  margin-left: 35%;
  border-radius: 15px;
  margin-bottom: 15%;
  padding: 20px; /* Added padding for better spacing */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
}

.txt1 {
  text-align: center; /* Center text */
  margin-bottom: 20px; /* Spacing between title and paragraph */
}

.txt1 h1 {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  padding-bottom: 15px;
}

.bar {
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0.7;
  margin-bottom: 0.1%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.txt2 {
  text-align: center; /* Center paragraph text */
}

.txt2 p {
  font-size: 18px;
  line-height: 1.5; /* Improved line spacing */
}
#btn1{
  margin-top: 20%;
  height: 60%;
  font-size: 22px;
  margin-left: -4%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px;
  transition: transform  0.3s ease;
  width: 120%;
}
#btn1:hover{
  transform: scale(1.1);
}

/*=============== MEDIA QUERIES ===============*/

/* For smaller mobile devices */
@media screen and (max-width: 768px) {
  .container1 {
    width: 90%; /* Full width with margin */
    margin-left: 5%; /* Center the container */
    height: auto; /* Allow height to adjust based on content */
    padding: 15px; /* Adjusted padding for smaller screens */
  }

  .txt1 h1 {
    font-size: 24px; /* Slightly smaller font size */
  }

  .txt2 p {
    font-size: 16px; /* Slightly smaller font size */
  }

  .bar {
    font-size: 18px; /* Slightly smaller font size */
  }

  #btn1 {
    font-size: 20px; /* Slightly smaller font size */
    margin-top: 10%; /* Adjusted margin */
    height: 50%; /* Adjusted height */
  }
}

/* For tablets and larger devices */
@media screen and (min-width: 769px) and (max-width: 1150px) {
  .container1 {
    width: 70%; /* Adjusted width */
    margin-left: 15%; /* Center the container */
  }

  .txt1 h1 {
    font-size: 28px; /* Slightly smaller font size */
  }

  .txt2 p {
    font-size: 17px; /* Slightly smaller font size */
  }

  .bar {
    font-size: 19px; /* Slightly smaller font size */
  }

  #btn1 {
    font-size: 21px; /* Slightly smaller font size */
  }
}







/*=============== MEDIA QUERIES ===============*/

/* For smaller mobile devices */
@media screen and (max-width: 768px) {
  .container1 {
    width: 90%; /* Full width with margin */
    margin-left: 5%; /* Center the container */
    height: auto; /* Allow height to adjust based on content */
    padding: 15px; /* Adjusted padding for smaller screens */
  }

  .txt1 h1 {
    font-size: 24px; /* Slightly smaller font size */
  }

  .txt2 p {
    font-size: 16px; /* Slightly smaller font size */
  }

  #btn1 {
    font-size: 20px; /* Slightly smaller font size */
    margin-top: 10%; /* Adjusted margin */
    height: 50%; /* Adjusted height */
    width: 100%; /* Full width */
  }
}

/* For tablets and larger devices */
@media screen and (min-width: 769px) and (max-width: 1150px) {
  .container1 {
    width: 70%; /* Adjusted width */
    margin-left: 15%; /* Center the container */
  }

  .txt1 h1 {
    font-size: 28px; /* Slightly smaller font size */
  }

  .txt2 p {
    font-size: 17px; /* Slightly smaller font size */
  }

  #btn1 {
    font-size: 21px; /* Slightly smaller font size */
  }
}



#btn2{
  margin-top: 20%;
  height: 30%;
  font-size: 22px;
  margin-left: -4%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 4px;
  transition: transform  0.3s ease;
  width: 50%;
}
#btn2:hover{
  transform: scale(1.1);
}
